/* :root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#app {
  width: 400px;
}
