/* Margin (copied from tailwind) */
.mt-9 {
  margin-top: 2.25rem /* 36px */;
}

.mt-2 {
  margin-top: 0.5rem /* 8px */;
}

.mr-2 {
  margin-right: 0.5rem /* 8px */;
}

.mt-10 {
  margin-top: 2.5rem /* 40px */;
}

.mb-5 {
  margin-bottom: 1.25rem /* 20px */;
}

.mt-6 {
  margin-top: 1.5rem; /* 24px */
}

.mr-1 {
  margin-right: 0.25rem /* 4px */;
}

.mb-1 {
  margin-bottom: 0.25rem /* 4px */;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mt-\[0\.281rem\] {
  margin-top: 0.281rem /* 4.496px */;
}

.mx-5 {
  margin-left: 1.25rem /* 20px */;
  margin-right: 1.25rem /* 20px */;
}

.mt-5 {
  margin-top: 1.25rem /* 20px */;
}

.mb-2 {
  margin-bottom: 0.5rem /* 8px */;
}

.mt-10 {
  margin-top: 2.5rem /* 40px */;
}

.px-3 {
  padding-left: 0.75rem /* 12px */;
  padding-right: 0.75rem /* 12px */;
}

.pt-5 {
  padding-top: 1.25rem /* 20px */;
}

.p-5 {
  padding: 1.25rem /* 20px */;
}

.p-4 {
  padding: 16px;
}

.p-2 {
  padding: 0.5rem /* 8px */;
}

.pb-4 {
  padding-bottom: 1rem /* 16px */;
}

.py-3 {
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

.py-2 {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}

.px-4 {
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
}

.py-1\.5 {
  padding-top: 0.375rem /* 6px */;
  padding-bottom: 0.375rem /* 6px */;
}

.py-\[0\.688rem\] {
  padding-top: 0.688rem /* 11.008px */;
  padding-bottom: 0.688rem /* 11.008px */;
}

.select-none {
  user-select: none;
}

.p-\[6px\] {
  padding: 6px;
}

.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}
