/* Utility */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.inline-flex {
  display: inline-flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.items-baseline {
  align-items: baseline;
}

.relative {
  position: relative;
}

.opacity-80 {
  opacity: 0.8;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[999999\] {
  z-index: 999999px;
}

.align-middle {
  vertical-align: middle;
}

.absolute {
  position: absolute;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem /* 12px */;
}
